{{#each this}}
    <a href="{{url}}" class="article">
        <h2 class="article__title">{{title}}</h2>
        <span class="article__author">Author: {{author}}</span>
        <div class="article__img-box">
            <img class="article__img" src="{{urlToImage}}"/>
        </div>
        <div class="article__desc">{{description}}</div>
    </a>
{{/each}}
