{{#with this}}
    <h3>Name: {{name}}({{username}})</h3>
    <div>Phone: {{phone}}</div>
    <div>Website: {{website}}</div>
    <div>Email: {{email}}</div>
    <ul>
        {{#with address}}
            <li>
                <a>Street: {{street}}</a>
            </li>
            <li>
                <a>Suite: {{suite}}</a>
            </li>
            <li>
                <a>City: {{city}}</a>
            </li>
        {{/with}}
    </ul>
    <ol>
        {{#with company}}
            <li>
                <a>Name: {{name}}</a>
            </li>
            <li>
                <a>CatchPhrase: {{catchPhrase}}</a>
            </li>
        {{/with}}
    </ol>
{{/with}}