<!--{{#each this}}-->
<!--    <li>-->
<!--        <span>Код валюты: {{ccy}}</span>-->
<!--        <span>Код национальной валюты: {{base_ccy}}</span>-->
<!--        <span>Курс покупки: {{buy}}</span>-->
<!--        <span>Курс продажи: {{sale}}</span>-->
<!--    </li>-->
<!--{{/each}}-->

{{#each this}}
    <li>
        <span>Name: {{name}}</span>
        <span>Sur name: {{surname}}</span>
    </li>
{{/each}}